module {{.Group}}/{{.Project.K}}

go 1.21

// Общие типы и proto (psds-microservice/helpy), генерация proto (psds-microservice/infra)
// После генерации: go get github.com/psds-microservice/helpy@latest при необходимости
