package cmd

import (
	"log"

	"github.com/spf13/cobra"

	"{{.Group}}/{{.Project.K}}/internal/application"
)

var workerCmd = &cobra.Command{
	Use:   "worker",
	Short: "Run queue worker",
	Long:  `Start consumer for message queue (RabbitMQ etc.).`,
	Run: func(cmd *cobra.Command, args []string) {
		app, err := application.New(application.TypeWorker)
		if err != nil {
			log.Fatalf("application: %v", err)
		}
		app.RunWorker()
	},
}

func init() {
	rootCmd.AddCommand(workerCmd)
}
